<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				    	    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <security:http pattern="../../css" security="none"/>
    <security:http authentication-manager-ref="authenticationManager">
        <security:intercept-url pattern="/page/index.jsp" access="ROLE_USER, ROLE_FEEDBACKER, ROLE_ADMIN, ROLE_CURATOR" />
        <security:intercept-url pattern="/page/studentPage.jsp" access="ROLE_STUDENT"/>
        <security:intercept-url pattern="/app/login/admin" access="ROLE_USER,ROLE_ADMIN"/>
        <security:intercept-url pattern="/rest/empl/all" access="ROLE_USER,ROLE_ADMIN"/>
        <security:intercept-url pattern="/rest/downloadPDF" access="ROLE_ADMIN, ROLE_USER"/>
        <security:intercept-url pattern="/rest/downloadExcel" access="ROLE_ADMIN, ROLE_USER"/>
        <security:intercept-url pattern="/rest/stud/create" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/rest/stud/*/feedbacks/push" access="ROLE_ADMIN, ROLE_FEEDBACKER, ROLE_CURATOR"/>
        <security:intercept-url pattern="stud/*/edit" access="ROLE_ADMIN, ROLE_USER"/>
        <security:intercept-url pattern="/rest/proj/all" access="ROLE_ADMIN, ROLE_USER"/>
        <security:intercept-url pattern="/rest/proj/add" access="ROLE_ADMIN, ROLE_PERSONNEL_DEPARTMENT"/>
        <security:intercept-url pattern="/rest/proj/remove" access="ROLE_ADMIN, ROLE_PERSONNEL_DEPARTMENT"/>
        <security:form-login login-page="/page/login.jsp"
                             login-processing-url="/do_login"
                             authentication-failure-url="/page/error.jsp"
                             authentication-success-handler-ref="redirectRoleStrategy"/>
        <security:form-login login-page="/page/login.jsp" login-processing-url="/do_login" default-target-url="/login_success" authentication-failure-url="/page/error.jsp"/>
        <security:logout logout-url="/do_logout" logout-success-url="/page/login.jsp" delete-cookies="JSESSIONID"/>

    </security:http>

    <bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <property name="eraseCredentialsAfterAuthentication" value="false"/>
        <constructor-arg>
            <list>
                <ref local="inMemoryAuthenticationProvider"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="inMemoryAuthenticationProvider"
          class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userServiceImpl"/>
    </bean>

    <bean id="redirectRoleStrategy" class="com.exadel.handler.RoleBasedAuthenticationSuccessHandler">
        <property name="roleUrlMap">
            <map>
                <entry key="ROLE_STUDENT" value="/page/studentPage.jsp"/>
                <entry key="ROLE_USER" value="/page/index.jsp"/>
                <entry key="ROLE_FEEDBACKER" value="/page/index.jsp"/>
                <entry key="ROLE_CURATOR" value="/page/index.jsp"/>
                <entry key="ROLE_ADMIN" value="/page/index.jsp"/>
                <entry key="ROLE_PERSONNEL_DEPARTMENT" value="/page/index.jsp"/>
            </map>
        </property>
    </bean>
</beans>