<div class="container">
   <!-- <div class="row">
       <div class="col-lg-12 well-sm">-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                Employee
            </h2>
            <div class="pull-right">
                <span>
                    <input type="text" data-ng-model="search.fio" class="form-control search" placeholder="Search by fio">
                </span><!-- /input-group -->
            </div>
            </div>
        <div class="panel-body">
            <div class="scroll">
        <table data-ng-table="tableParams" class="table">
            <tr ng-repeat="employee in employees | filter:search |orderBy:params.orderBy()">
                <td data-title="'FIO'" sortable="'fio'">{{employee.fio}}</td>
                <td data-title="'Email'" sortable="'email'">{{employee.email}}</td>
                <td data-title="'Role'" sortable="'role'">{{employee.role}}</td>
            </tr>
        </table>
            </div>
        </div>
</div>
</div>