<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <a data-target="#createProject" data-toggle="modal" class="btn btn-block btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span>Add new project </a>
    <table class="table projectList-table" ng-table="projectTableParams">
        <tr ng-repeat="project in projectList | filter:search | orderBy:params.orderBy()">
            <td data-title="'Delete'" >
                <a data-target="#delete" data-toggle="modal" class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-trash"></span> </a>
            </td>
            <td data-title="'Project name'" sortable="'title'">
                {{project.title}}
            </td>
            <td data-title="'Students on project'" class="text-center">
                <a data-target="#studentsOnProject" data-toggle="modal" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-user"></span> </a>
            </td>
        </tr>
    </table>
            </div>
    </div>
</div>
<!-------------------------------MODAL STUDENTS ON PROJECT------------------------------------->
<div data-backdrop="static" class="modal fade" id="studentsOnProject" tabindex="-1" role="dialog" aria-labelledby="studentsOnProject"
     aria-hidden="true">
    <div name="emailForm" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Students on project</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td></td>
                    </tr>
                </table>
            <div class="modal-footer ">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    </div>
<!-------------------------------MODAL DELETE PROJECT------------------------------------->
<div data-backdrop="static" class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete"
     aria-hidden="true">
    <div name="emailForm" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align text-danger" id="Heading">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the project?</p>
                <div class="modal-footer ">
                            <button id="button1id" name="button1id" class="btn btn-success">Yes</button>
                            <button data-dismiss="modal" id="button2id" name="button2id" class="btn btn-danger">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<!-------------------------------MODAL DELETE PROJECT------------------------------------->
<div data-backdrop="static" class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-labelledby="createProject"
     aria-hidden="true">
    <div name="emailForm" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Create project</h4>
            </div>
            <div class="modal-body">
                <input id="login" data-ng-model="login" name="login" type="text" placeholder="Project name"
                       class="form-control input-md" required>
            </div>
            <div class="modal-footer ">
                <button type="button" data-dismiss="modal" aria-hidden="true" data-ng-click="createProject()"
                        class="btn btn-success btn-lg" style="width: 100%;"><span
                        class="glyphicon glyphicon-plus"></span> Create project
                </button>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>