<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading scroll">
            <h2 class="panel-title col-md-3">
                <span class="clickable" data-ng-click="reloadList()"><span
                        class="glyphicon glyphicon-refresh"></span>
                    </span>
                Students In Exadel
            </h2>

            <div class="pull-right">
                    <a  href="/rest/download/PDF?ids={{makeIdsArray(checkedStudHash)}}" class="clickable" data-ng-if="notEmpty(checkStudHash) && link_Pdf_Excel"><span
                            class="glyphicon glyphicon-file"></span> PDF
                    </a>
                    <a  href="/rest/download/EXCEL?ids={{makeIdsArray(checkedStudHash)}}" class="clickable" data-ng-if="notEmpty(checkStudHash) && link_Pdf_Excel"><span
                            class="glyphicon glyphicon-file"></span> Excel
                    </a>

                    <span  class="clickable" data-ng-if="notEmpty(checkStudHash) && link_Email_AppointCurator" data-ng-click="reloadCuratorsList()"
                          data-target="#curatorsListModal" data-toggle="modal"
                            ><span class="glyphicon glyphicon-user"></span> Appoint curator
                    </span>
                    <span class="clickable" data-ng-if="notEmpty(checkStudHash) && link_Email_AppointCurator" data-target="#sendEmail"
                          title="Send email to checked students" data-toggle="modal"><span
                            class="glyphicon glyphicon-envelope"></span> Send email
                    </span>
                <span  data-ng-if="link_AddStudent" data-target="#create" data-toggle="modal" class="clickable"><span
                        class="glyphicon glyphicon-plus"></span> Create student
                </span>
         <span class=" clickable" data-toggle="collapse" data-parent="#accordion2" data-target="#filter" title="Filter">
            <span class="glyphicon glyphicon-filter"></span> Filter
         </span>
            <span>
                <input type="text" data-ng-model="search.surname" class="form-control search"
                       placeholder="Search by surname">
                </span>
            </div>

        </div>
        <div class="panel-body">
            <div id="filter" class="collapse">
                <div class="filters row well-sm">
                    <div class="col-md-2">
                        <label>University</label>
                        <select class="form-control" data-ng-model="filterItem.university"
                                data-ng-options="item.name for item in filterParams.universities">
                        </select></div>
                    <div class="col-md-2">
                        <label>Faculty</label>
                        <select class="form-control" data-ng-model="filterItem.faculty"
                                data-ng-options="item.name for item in filterParams.faculties">
                        </select></div>
                    <div class="col-md-2">
                        <label>Corse</label>
                        <select class="form-control" data-ng-model="filterItem.course"
                                data-ng-options="item.name for item in filterOptions.courses">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Graduate year</label>
                        <select class="form-control" data-ng-model="filterItem.study_end_year"
                                data-ng-options="item.name for item in filterParams.study_end_years">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Working hours</label>
                <input type="text" data-ng-model="search.hours_current" class="form-control"
                       placeholder="Search by hours" ng-change="clear()">
                    </div>
                    <div class="col-md-2">
                        <label>Billable</label>
                        <select class="form-control" data-ng-model="filterItem.salary"
                                data-ng-options="item.name for item in filterOptions.salaries">
                        </select></div>
                    <div class="col-md-2">
                        <label>English Level</label>
                        <select class="form-control" data-ng-model="filterItem.englishlevel"
                                data-ng-options="item.name for item in filterOptions.englishlevels">
                        </select></div>
                    <div class="col-md-2">
                        <label>Skill</label>
                        <select class="form-control" data-ng-model="filterItem.skillname"
                                data-ng-options="item.name for item in filterParams.skillnames">
                        </select></div>
                    <div class="col-md-2">
                        <label>Skill</label>
                        <select class="form-control" data-ng-model="filterItem.skillname2"
                                data-ng-options="item.name for item in filterParams.skillnames">
                        </select></div>
                    <div class="col-md-2">
                        <label>Skill</label>
                        <select class="form-control" data-ng-model="filterItem.skillname3"
                                data-ng-options="item.name for item in filterParams.skillnames">
                        </select></div>



                    <div class="col-md-2">
                        <label>Curator</label>
                        <select class="form-control" data-ng-model="filterItem.curator"
                                data-ng-options="item.surname for item in filterParams.curators">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--     <div class="btn-toolbar">
                 <div class="btn-group">
                     <a href="/rest/downloadPDF?ids={{toJsonStudentCheckedArray()}}" data-ng-if="checkedStudArray.length"  class="btn btn-primary"><span
                             class="glyphicon glyphicon-file"></span> PDF
                     </a>
                     <a href="/rest//downloadExcel?ids={{toJsonStudentCheckedArray()}}" data-ng-if="checkedStudArray.length" class="btn btn-primary"><span
                             class="glyphicon glyphicon-file"></span> Excel
                     </a>

                     <a data-ng-if="checkedStudArray.length" data-ng-click="reloadCuratorsList()" data-target="#curatorsListModal" data-toggle="modal"
                             class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Appoint a curator
                     </a>
                     <a data-ng-if="checkedStudArray.length"  data-target="#sendEmail" data-toggle="modal" class="btn btn-primary btn-primary"><span
                             class="glyphicon glyphicon-envelope"></span> Send email to checked students
                     </a>
                 </div>
             </div>-->
        <!--comment-->
        <div class="scroll">
        <table id="studentList" class="table" ng-table="tableParams">
            <tr data-ng-repeat="user in students.filteredStudentsList = ( studentsList | filter:search | orderBy:params.orderBy() |
                 filter:customFilterCourse | filter:customFilterEnglish |
                 filter:customFilterSalary | filter:customFilterTech|filter:customFilterFaculty|
                 filter:customFilterUniversity|filter:customFilterGraduate|filter:customFilterCurator
                 |filter:customFilterTech2|filter:customFilterTech3)">
                <td header="'ng-table/headers/checkbox.html'" ><input data-ng-model="checkBoxes[user.id].value"   type="checkbox" class="checkthis"/></td> <!--data-ng-click="checkElement(user.id)"-->
                <td data-title="'Login'" sortable="'login'">{{user.login}}</td>
                <td data-title="'Name'" sortable="'surname'">{{user.firstName + " "+user.surname}}</td>
                <td data-title="'Date'" sortable="'work.workStartDate'">{{user.work.workStartDate}}</td>
                <td data-title="'Faculty'" sortable="'study.faculty'">{{user.study.faculty}}</td>
                <td data-title="'Graduate'" sortable="'study.graduate_year'">{{user.study.graduate_year}}</td>
                <td data-title="'Course/Group'" sortable="'study.course_group'">{{user.study.course_group}}</td>
                <td data-title="'Hours'" sortable="'hours_current'">{{user.hours_current}}</td>
                <td data-title="'Billable'" sortable="'isBillable'">{{user.isBillable}}</td>
                <td data-title="'Role'" sortable="'state'">{{user.state}}</td>
                <td data-title="'Technologies'" sortable="'projectTechnologies'">
                    <span ng-repeat="technology in user.skillSet.type"> {{type.name}}</span>
                </td>
                <td data-title="'English'" sortable="'english'">{{user.english}}</td>
                <td data-title="'Edit'" class="text-center"><p><a href="#/studentList/{{user.id}}"
                                                                  class="btn btn-sm btn-primary"><span
                        class="glyphicon glyphicon-pencil"></span></a></p></td>
                <td data-title="'Log'"  class="text-center"><button data-ng-click="saveIdForLog(user.id)" data-target="#logModal" data-toggle="modal" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-book">

                </span></button></td>
            </tr>
        </table>
        </div>
    </div>
</div>
        <!--- checkbox -->
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="check.checkAll" id="select_all" name="filter-checkbox" value="" />
</script>

<!------------------------------------MODAL FOR CREATE STUDENT--------------------------------------->
<div data-backdrop="static" class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create"
     aria-hidden="true"
     data-ng-controller="CreateStudentCtrl">
    <div class="modal-dialog modal-sm">
        <form name="createStudentForm" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Create Student</h4>
            </div>
            <div class="modal-body">
                <input id="login" data-ng-model="login" name="login" type="text" placeholder="Login"
                       class="form-control input-md" required>
            </div>
            <div class="modal-footer ">
                <button type="submit" data-ng-disabled="createStudentForm.$invalid" data-dismiss="modal"
                        aria-hidden="true" data-ng-click="createStudent()"
                        class="btn btn-success btn-lg" style="width: 100%;"><span
                        class="glyphicon glyphicon-plus"></span> Create
                </button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!------------------------------------MODAL FOR SEND EMAIL--------------------------------------->
<div data-backdrop="static" class="modal fade" id="sendEmail" tabindex="-1" role="dialog" aria-labelledby="sendEmail"
     aria-hidden="true"
     data-ng-controller="SendEmailCtrl">
    <div name="emailForm" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Send email</h4>
            </div>
            <div class="modal-body">
                <form name="emailForm" class="form-horizontal">
                    <div class="well-sm">
                        <input id="title" data-ng-model="title" name="title" type="text" placeholder="Object"
                               class="form-control input-md" required>
                    </div>
                    <div class="well-sm">
                        <textarea data-ng-model="message" class="form-control" rows="10" placeholder="Message"
                                  required></textarea>
                    </div>
                    <div class="well-sm">
                        <input id="password" data-ng-model="password" name="password" type="password" placeholder="Password"
                               class="form-control input-md" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <button data-ng-disabled="emailForm.$invalid" type="button" data-dismiss="modal" aria-hidden="true"
                        data-ng-click="sendEmail()"
                        class="btn btn-success btn-lg" style="width: 100%;"><span
                        class="glyphicon glyphicon-envelope"></span> Send
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!------------------------------------MODAL CURATORS LIST-------------------------------------->
<div data-backdrop="static" class="modal fade" id="curatorsListModal" tabindex="-1" role="dialog"
     aria-labelledby="curatorsListModal"
     aria-hidden="true"
     data-ng-controller="CuratorsListForAppointCtrl">
    <div name="emailForm" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Appoint a curator</h4>
            </div>
            <div class="modal-body">
                <button data-ng-disabled="emailForm.$invalid" type="button" data-dismiss="modal" aria-hidden="true"
                        data-ng-click="appointCuratorsForStudents()"
                        class="btn btn-success btn-lg" style="width: 100%;"><span
                        class="glyphicon glyphicon-envelope"></span> Appoint
                </button>
                <table class="table" data-ng-table="curatorsListParams">
                    <tr  data-ng-repeat="curator in curatorsList | orderBy: params.orderBy()">
                        <td class="checkbox-td">
                            <input data-ng-click="checkedCurator(curator.id)" type="checkbox" class="checkthis"/>
                        </td>
                        <td data-title="'Name'" sortable="'surname'">
                            {{curator.firstname + ' ' + curator.surname}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!------------------------------------MODAL LOG LIST-------------------------------------->
<div data-backdrop="static" class="modal fade" id="logModal" tabindex="-1" role="dialog"
     aria-labelledby="logModal"
     aria-hidden="true"
     data-ng-controller="LogListCtrl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Log</h4>
            </div>
            <div class="modal-body">
                <table class="table" data-ng-table="logParams">
                    <tr  data-ng-repeat="log in logList | reverse">
                        <td data-title="'New State'">
                            {{log.state}}
                        </td>
                        <td data-title="'Date'">
                            {{log.time}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
