
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="col-md-3">
                <button data-target="#create" data-toggle="modal" class="btn btn-primary btn-success"><span
                        class="glyphicon glyphicon-plus"></span> Create student
                </button>
            </div>
            <div class="col-md-3 col-md-offset-1" data-ng-if="checkedStudArray.length">
                <button data-target="#sendEmail" data-toggle="modal" class="btn btn-primary btn-success"><span
                        class="glyphicon glyphicon-envelope"></span> Send email to checked students
                </button>
            </div>
        </div>
        <div class="pull-right">
            <div class="input-group custom-search-form">
                <input type="text" data-ng-model="search.surname" class="form-control" placeholder="Search by surname">
            </div>
            <!-- /input-group -->
        </div>
    </div>
    <!--Filter-->

    <select data-ng-model="filterItem.course" data-ng-options="item.name for item in filterOptions.courses">
    </select>
    <select data-ng-model="filterItem.workinghour" data-ng-options="item.name for item in filterOptions.workinghours">
    </select>
    <select data-ng-model="filterItem.salary" data-ng-options="item.name for item in filterOptions.salaries">
    </select>
    <select data-ng-model="filterItem.englishlevel" data-ng-options="item.name for item in filterOptions.englishlevels">
    </select>
    <select data-ng-model="filterItem.techname" data-ng-options="item.name for item in filterParams.technames">
    </select>
    <select data-ng-model="filterItem.techname" data-ng-options="item.name for item in filterParams.technames">
    </select>
    <select data-ng-model="filterItem.techname" data-ng-options="item.name for item in filterParams.technames">
    </select>
    <select data-ng-model="filterItem.faculty" data-ng-options="item.name for item in filterParams.faculties">
    </select>
    <select data-ng-model="filterItem.university" data-ng-options="item.name for item in filterParams.universities">
    </select>
    <select data-ng-model="filterItem.study_end_year" data-ng-options="item.name for item in filterParams.study_end_years">
    </select>
    <select data-ng-model="filterItem.curatorSurname" data-ng-options="item.surname for item in filterParams.curators">
    </select>

    <div class="row">
        <div class="col-lg-12 well-sm">
            <table id="mytable" class="table" ng-table="tableParams">

                <tr data-ng-repeat="user in studentsList| filter:search | orderBy:params.orderBy() |
                 filter:customFilterCourse | filter:customFilterEnglish | filter:customFilterHours |
                 filter:customFilterSalary | filter:customFilterTech|filter:customFilterFaculty|
                 filter:customFilterUniversity|filter:customFilterGraduate">
                    <td><input data-ng-click="checkedStud(user.id)" type="checkbox" class="checkthis"/></td>
                    <td data-title="'Login'" sortable="'Login'">{{user.login}}</td>
                    <td data-title="'Name'" sortable="'surname'">{{user.firstName + " "+user.surname}}</td>
                    <td data-title="'Date'" sortable="'work.workStartDate'">{{user.work.workStartDate}}</td>
                    <td data-title="'Faculty'" sortable="'study.faculty'">{{user.study.faculty}}</td>
                    <td data-title="'Graduate'" sortable="'study.graduate_year'">{{user.study.graduate_year}}</td>
                    <td data-title="'Course/Group'" sortable="'study.course_group'">{{user.study.course_group}}</td>
                    <td data-title="'Hours'" sortable="'work.hours_current'">{{user.work.hours_current}}</td>
                    <td data-title="'Billable'" sortable="'work.billable'">{{user.work.billable}}</td>
                    <td data-title="'Role'" sortable="'work.currentProjectRole'">{{user.work.currentProjectRole}}</td>
                    <td data-title="'Technologies'" sortable="'projectTechnologies'">
                        <span ng-repeat="technologies in user.work.projectTechnologies"> {{technologies.name}}</span>
                    </td>
                    <td data-title="'English'" sortable="'english'">{{user.english}}</td>
                    <td data-title="'Edit'"class="text-center"><p><a href="#/studentList/{{user.id}}" class="btn btn-sm btn-primary"><span
                            class="glyphicon glyphicon-pencil"></span></a></p></td>
                </tr>
            </table>
            </div>
    </div>
</div>
<!------------------------------------MODAL FOR CREATE STUDENT--------------------------------------->
<div data-backdrop="static" class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create"
     aria-hidden="true"
     data-ng-controller="CreateStudentCtrl">
    <div class="modal-dialog modal-sm">
        <form name="createStudentForm" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Create Student</h4>
            </div>
            <div class="modal-body">
                <input id="login" data-ng-model="login" name="login" type="text" placeholder="Login"
                       class="form-control input-md" required>
            </div>
            <div class="modal-footer ">
                <button type="submit" data-ng-disabled="createStudentForm.$invalid" data-dismiss="modal" aria-hidden="true" data-ng-click="createStudent()"
                        class="btn btn-success btn-lg" style="width: 100%;"><span
                        class="glyphicon glyphicon-plus"></span> Create
                </button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!------------------------------------MODAL FOR SEND EMAIL--------------------------------------->
<div data-backdrop="static" class="modal fade" id="sendEmail" tabindex="-1" role="dialog" aria-labelledby="sendEmail"
     aria-hidden="true"
     data-ng-controller="SendEmailCtrl">
    <div name="emailForm" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title custom_align" id="Heading">Send email</h4>
            </div>
            <div class="modal-body">
                <form name="emailForm" class="form-horizontal">
                    <div class="well-sm">
                    <input id="title" data-ng-model="title" name="title" type="text" placeholder="Object"
                           class="form-control input-md" required>
                        </div>
                    <div class="well-sm">
                    <textarea data-ng-model="message" class="form-control" rows="10" placeholder="Message" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <button data-ng-disabled="emailForm.$invalid" type="button" data-dismiss="modal" aria-hidden="true"
                        data-ng-click="sendEmail()"
                        class="btn btn-success btn-lg" style="width: 100%;"><span
                        class="glyphicon glyphicon-envelope"></span> Send
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>