.popup-hide {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
  opacity: 0;
  pointer-events: none; }
  .popup-hide > h2 {
    background: url("../img/mooning-dark.png");
    width: auto;
    max-width: 600px;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #595859;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px; }
  .popup-hide > .login-h2 {
    width: 250px; }

.popup-show {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
  opacity: 1;
  pointer-events: auto; }
  .popup-show > h2 {
    background: url("../img/mooning-dark.png");
    width: auto;
    max-width: 600px;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #595859;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px; }
  .popup-show > .login-h2 {
    width: 250px; }

.login-popup, .feedback-popup {
  color: black;
  text-align: center;
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  width: 250px;
  margin: 0px auto;
  background: url("../img/mooning-middle-dark.png");
  border: 1px solid grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0 0 10px 10px; }
  .login-popup button, .feedback-popup button {
    background-color: #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-left: auto;
    padding: 10px 10px;
    -webkit-appearance: none; }
  .login-popup input[type=radio], .feedback-popup input[type=radio] {
    display: none; }
  .login-popup label, .feedback-popup label {
    background-image: url(../img/csscheckbox_0461126d8f4dabfe98d7c25685123c40.png);
    padding-left: 33px;
    height: 27px;
    width: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0 0; }
  .login-popup input[type=radio]:checked + label, .feedback-popup input[type=radio]:checked + label {
    background-position: 0 -27px; }
  .login-popup p, .feedback-popup p {
    padding: 3% 10%; }
  .login-popup input, .feedback-popup input {
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 190px; }
    .login-popup input:focus, .feedback-popup input:focus {
      outline: 0;
      background-color: lightgrey; }

.feedback-popup {
  width: auto;
  max-width: 600px;
  height: 60%;
  margin: 0 auto;
  overflow: auto;
  text-align: right;
  padding-right: 20px; }
  .feedback-popup .buttons {
    margin-right: auto;
    margin-left: auto;
    width: 40%; }
  .feedback-popup .workInProject {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; }
    .feedback-popup .workInProject > .false {
      position: relative;
      -webkit-transition: opacity .5s;
      -moz-transition: opacity .5s;
      -ms-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
      pointer-events: auto;
      opacity: 1; }
      .feedback-popup .workInProject > .false p {
        padding: 3% 10%; }
      .feedback-popup .workInProject > .false input {
        height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 190px; }
        .feedback-popup .workInProject > .false input:focus {
          outline: 0;
          background-color: lightgrey; }
    .feedback-popup .workInProject > .ng-hide {
      position: absolute;
      -webkit-transition: opacity .5s;
      -moz-transition: opacity .5s;
      -ms-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
      pointer-events: none;
      opacity: 0; }
      .feedback-popup .workInProject > .ng-hide p {
        padding: 3% 10%; }
      .feedback-popup .workInProject > .ng-hide input {
        height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 190px; }
        .feedback-popup .workInProject > .ng-hide input:focus {
          outline: 0;
          background-color: lightgrey; }

body {
  background: url("../img/mooning.png"); }

.nav {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: #ffffff; }
  .nav > .nav-menu {
    font-size: 15px;
    font-weight: bold;
    font-family: "Times new roman";
    list-style: none;
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1200px;
    height: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
    .nav > .nav-menu > #nav {
      cursor: pointer;
      margin: 0;
      padding: 0;
      line-height: 25px; }
      .nav > .nav-menu > #nav #btn {
        font-size: 15px;
        z-index: 0;
        font-weight: bold;
        font-family: "Times new roman";
        background: url("../img/mooning.png");
        margin-top: 10000px;
        position: relative;
        border: none; }
      .nav > .nav-menu > #nav #btn:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin-right: 0; }
      .nav > .nav-menu > #nav li {
        margin: 0;
        padding: 0;
        float: left;
        width: 120px;
        margin-top: -10000px; }
        .nav > .nav-menu > #nav li a {
          width: 120px;
          text-decoration: none;
          text-align: center;
          color: black;
          position: relative;
          float: left;
          margin-right: -119px;
          margin-top: 10000px; }
          .nav > .nav-menu > #nav li a:hover, .nav > .nav-menu > #nav li a:focus, .nav > .nav-menu > #nav li a:active {
            margin-bottom: 0px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            margin-right: 0; }
        .nav > .nav-menu > #nav li ul {
          background: url("../img/mooning.png");
          border-radius: 0 0 5px 5px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          margin: 0;
          padding: 0;
          float: left;
          margin-top: -25px;
          padding-top: 25px;
          margin-bottom: -10000px;
          list-style-type: none; }
          .nav > .nav-menu > #nav li ul li {
            margin: 0;
            padding: 0;
            float: none;
            margin: 0;
            width: auto; }
            .nav > .nav-menu > #nav li ul li a {
              margin: 0;
              padding: 0;
              float: none;
              display: block;
              margin: 0;
              margin-right: -1px; }

.user-list-container {
  width: 1200px;
  margin: 0 auto;
  background: url("../img/mooning.png"); }

.content {
  position: relative;
  display: block;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  margin-bottom: 0;
  background: inherit;
  padding-top: 12px; }

div[ng-include="templates.pagination"] {
  display: none; }
