.login {
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  width: 250px;
  margin: 10% auto;
  background-color: grey;
  border: 1px solid grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .login > h2 {
    background-color: #292829;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 18px 20px;
    border: 1px solid #172b4e;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px; }
  .login button {
    background-color: #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-left: 35%;
    padding: 10px 10px;
    -webkit-appearance: none; }
  .login p {
    padding: 3% 10%; }
  .login input {
    height: 30px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 190px; }
    .login input:focus {
      outline: 0;
      background-color: lightgrey; }
