.skills-table select, .skills-table input {
    height: 40px;
}
.skills-table {
    font-size: 15px;
}
.skills-table a {
    margin-top: 11%;
}
.skills-table td:last-child {
    width: 10%;
}
table + .ng-scope {
    display: none;
}