/*table {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);;
}*/
.panel-body {
    padding: 0;
}
.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.clickable{
    cursor: pointer;
}
.search {
    display: inline-block;
    width: auto;
    margin-top: -10px;
    height: 28px;
    margin-right: -10px;
}