.user-list-container {
  width: 1200px;
  margin: 0 auto;
    background: url("../img/mooning.png"); }

#popup-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: block;
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s; }
  #popup-form > h2 {
    background-color: #292829;
    width: 600px;
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #292829;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px; }
  #popup-form > .login-h2 {
    width: 250px; }

#popup-form:target {
  pointer-events: auto;
  opacity: 1; }

body {
  background-color: none; }

.login, .popup-content {
  text-align: center;
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  width: 250px;
  margin: 0px auto;
  background-color: grey;
  border: 1px solid grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0 0 10px 10px; }
  .login > h2, .popup-content > h2 {
    background-color: #292829;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 18px 20px;
    border: 1px solid #172b4e;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px; }
  .login > button, .popup-content > button {
    background-color: #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-left: auto;
    padding: 10px 10px;
    -webkit-appearance: none; }
  .login > p, .popup-content > p {
    padding: 3% 10%; }
  .login > p > input, .popup-content > p > input {
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 190px; }
    .login > p > input:focus, .popup-content > p > input:focus {
      outline: 0;
      background-color: lightgrey; }

.popup-content {
  width: 600px;
  height: 600px;
  bottom: 10%;
  margin: 0 auto;
  overflow: auto; }
  .popup-content > button {
    margin-left: auto; }

div[ng-include="templates.pagination"] {
  display: none; }
