@mixin radioButton-type {
  input[type=radio] {
    display: none;

  }
  label {
    background-image: url(../img/csscheckbox_0461126d8f4dabfe98d7c25685123c40.png);
    padding-left:33px;
    height:27px;
    width: 10px;
    display:inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0 0;
  }
  input[type=radio]:checked + label {
    background-position: 0 -27px;
  }
}
@mixin opacity-transition {
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
@mixin input-type {
  p{
    padding: 3% 10%;
  }
  >p > input {
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 190px;

    &:focus {
      outline: 0;
      background-color: lightgrey;
    }
  }
  @include radioButton-type();
  >div {
    @include radioButton-type();
  }
  > p {
    @include radioButton-type();
  }
}

#popup-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: block;
  @include opacity-transition();
  > h2{
    background-color: #292829;
    width: 600px;
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #292829;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
  }
  > .login-h2 {
    width: 250px;
  }
}

#popup-form:target {
  pointer-events: auto;
  opacity: 1;
}
body{
  background-color: none;
}
.login, .popup {
  text-align: center;
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  width: 250px;
  margin: 0px auto;
  background-color: grey;
  border: 1px solid grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0 0 10px 10px;
  > h2 {
    background-color: #292829;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 18px 20px;
    border: 1px solid #172b4e;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
  }
   button {
    background-color: #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-left: auto;
    padding: 10px 10px;
    -webkit-appearance: none;
  }
  @include radioButton-type();
  @include input-type();
  >.popup-content {
    margin-right: 0%;
    margin-left: 0%;
    width: 550px;
    text-align: left;
  }
  > p > span{
    text-align: right;
    width: 300px;
    display: inline;
    float: left

  }
}
.popup {
    width:auto;
    max-width:600px;
    height:60%;
    margin: 0 auto;
    overflow: auto;
    text-align: right;
    padding-right: 20px;

    > button {
      margin-left: auto;
      margin-right: auto;
    }
  >.buttons {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
  }

}
.show-hide-element.ng-hide {
  opacity: 0;
}
.workInProject {
   >.true {
    position: absolute;
    @include opacity-transition();
    @include input-type();
    pointer-events: none;
    opacity: 0;
  }
   >.false {
    position: relative;
    @include opacity-transition();
    pointer-events: auto;
    opacity: 1;
    @include input-type();
  }
  >.starting {
    position: absolute;
    @include opacity-transition();
    @include input-type();
    pointer-events: none;
    opacity: 0;
  }
  > .ng-hide {
    position: absolute;
    @include opacity-transition();
    @include input-type();
    pointer-events: none;
    opacity: 0;
  }
}