<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				    	    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="../css/**" security="none"/>
    <security:http authentication-manager-ref="authenticationManager">
        <security:intercept-url pattern="/page/index.jsp" access="ROLE_USER" />
        <security:form-login login-page="/page/login.jsp" login-processing-url="/do_login" default-target-url="/page/students-list.html" authentication-failure-url="/page/error.jsp"/>
    </security:http>

    <bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <property name="eraseCredentialsAfterAuthentication" value="false"/>
        <constructor-arg>
            <list>
                <ref local="inMemoryAuthenticationProvider"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="inMemoryAuthenticationProvider"
          class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userServiceImpl"/>
    </bean>

</beans>