<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
       <!-- <link rel="stylesheet" href="css/foundation-min.css">-->
        <link rel="stylesheet" href="css/LogStyle.css" media="screen"/>
        <title>User Page</title>


    </head>
    <body>
    <!--top menu-->
        <div ng-controller="ModalCtrl">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">I'm a modal!</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="item in items">
                            <a ng-click="selected.item = item">{{ item }}</a>
                        </li>
                    </ul>
                    Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            <button class="btn btn-default" ng-click="open('lg')">Create user</button>
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
            <td><a href="">Log out</a></td>
        </div>
        <!--Table-->
    <div ng-app="myApp" >
        <div  ng-controller="StudentsCtrl">
            Search: <input type="text" ng-model="search.fio">

            <table class="table-container">
                <tr ng-repeat="student in students.cast|orderBy:'fio'|filter:search" >
                    <td>{{student.fio}}</td>
                    <td>{{student.date}}</td>
                    <td>{{student.faculty}}</td>
                    <td>{{student.year}}</td>
                    <td>{{student.curse}}</td>
                    <td>{{student.hours}}</td>
                    <td>{{student.billable}}</td>
                    <td>{{student.role}}</td>
                    <td>{{student.technologies}}</td>
                    <td>{{student.level}}</td>

                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    </body>
</html>